body {
  background-color: antiquewhite;
  /* background: linear-gradient(-45deg, #FFB3E7, #FF54C9); */
  /* background: linear-gradient(-45deg, orange, #FFEEB4) fixed; */
}

.header-fixed {
  position: fixed;
  width: 100%;
  margin: 0 auto;
  height: 50px;
  top: 0px;
  left: 0px;
  background-color: #d4d4d4;
  opacity: 0.6;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  /* position: fixed; */
}

ul li {
  /* margin-left: 15px; */
}

.score {
  /* margin-left: 15px; */
}

#timer {
  margin-right: 15px;
}

.grid {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-content: stretch; */
}

img {
  width: 100px;
  height: 177.91px;
  /* height: auto; */
  background-color: azure;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  border-radius: 7px;
  cursor: pointer;
  /* user-select: none; */
}

img:hover {
  /* background-color: gold; */
  /* top: 100%;
  opacity: 0; */
}

img:active {
  /* top: 100%; */
  /* box-shadow: 0 5px 0 #8e8c8f; */
  /* transition: 1.4s ease-in-out; */
}

.omote {
  /* opacity: 0.3; */
  /* z-index: 1; */
  /* transform: rotateX(0deg); */
  /* transform: rotateY(0deg); */
}
